<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>tft.guide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="manifest" href="site.webmanifest">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/clean.css">
        <link rel="stylesheet" href="css/buttons.css">

        <meta name="theme-color" content="#fafafa">
        <h1> tft.guide </h1>
        <h4> A website dedicated to documenting hidden interactions in TFT. </h3>
        <hr>
    </head>